* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.assign-1 {
    width: 500px;
    height: 200px;
    background-color: #EEE;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    transition: margin-top .5s;
} 

.assign-1:hover {
    margin-top: 20px;
}

.assign-1 .child {
    background-color: #DDD;
    width: 90%;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    transition: margin-top .5s .5s;
}

.assign-1:hover .child{
    margin-top: 50px;
}

.assign-2 {
    background-color: #EEE !important;
    border-width: 0px !important;
    width: 400px !important;
    margin: auto;
    position: relative;
    color: transparent !important;
}

.assign-2::after {
    content: "Elzero";
    color: black;
    font-size: 20px;
    position: absolute;
    width: 100px;
    height: 25px;
    top: calc((100% - 25px)/2);
    left: calc((100% - 100px)/2);
    text-align: center;
    font-weight: bold;
}

:root {
    --mainColor: #009688;
    --mainPadding: 10px;
}

.assign-3 div {
    padding: var(--mainPadding, 10px);
    border: var(--mainColor, black) 2px solid;
    color: var(--mainColor, red);
    width: 50%;
    margin: 20px auto;
}